* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

a {
  color: #d8e3db !important;
  text-decoration: none;
}

.grid {
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-image: url('img/background.svg');
  background-size: cover;
}

.blue-noodle {
  width: 7%;
  z-index: 2;
  position: fixed;
  margin-top: 25px;
  margin-left: 25px;
}

.pills {
  width: 33%;
  z-index: 3;
  position: fixed;
  margin-top: 5px;
  margin-left: 9px;
}

.blue-button {
  z-index: 4;
  width: 6%;
  position: fixed;
  margin-top: 42px;
  margin-left: 140px;
}

.green-circle {
  z-index: 5;
  width: 9%;
  position: fixed;
  margin-top: 340px;
  margin-left: 140px;
}

.pink-cone {
  z-index: 6;
  width: 6%;
  position: fixed;
  margin-top: 440px;
  margin-left: 300px;
}

.green-button {
  z-index: 7;
  width: 5%;
  position: fixed;
  margin-top: 140px;
  margin-left: 700px;
}

.blue-circle {
  z-index: 8;
  width: 4.5%;
  position: fixed;
  margin-top: 50px;
  margin-left: 840px;
}

.green-noodle {
  z-index: 9;
  width: 5.5%;
  position: fixed;
  margin-top: 200px;
  margin-left: 890px;
}

.pink-button {
  z-index: 10;
  width: 9.5%;
  position: fixed;
  margin-top: 280px;
  margin-left: 770px;
}

.blue-cone {
  z-index: 11;
  width: 6%;
  position: fixed;
  margin-top: 440px;
  margin-left: 890px;
}

@media (min-width: 400px) {
  .blue-button {
    margin-left: 180px;
  }
}

@media (min-width: 600px) {
  .blue-button {
    margin-left: 230px;
  }
}

@media (min-width: 700px) {
  .blue-button {
    margin-left: 380px;
    margin-top: 120px;
  }
  .blue-noodle {
    margin-top: 50px;
    margin-left: 50px;
  }
  .pink-cone {
    margin-left: 270px;
  }
}

@media (min-width: 1000px) {
  .blue-button {
    margin-left: 400px;
  }
  .green-circle {
    margin-top: 375px;
    margin-left: 150px;
  }
  .pink-cone {
    margin-top: 460px;
    margin-left: 300px;
  }
  .green-button {
    margin-top: 120px;
    margin-left: 780px;
  }
  .blue-circle {
    margin-top: 40px;
    margin-left: 910px;
  }
  .green-noodle {
    margin-top: 210px;
    margin-left: 950px;
  }
  .pink-button {
    margin-top: 280px;
    margin-left: 815px;
  }
  .blue-cone {
    margin-top: 460px;
    margin-left: 930px;
  }  
}

@media (min-width: 1400px) {
  .blue-button {
    margin-left: 560px;
  }
  .blue-noodle {
    margin-top: 70px;
    margin-left: 70px;
  }
  .green-circle {
    margin-top: 530px;
    margin-left: 220px;
  }
  .pink-cone {
    margin-top: 645px;
    margin-left: 420px;
  }
  .green-button {
    margin-left: 1050px;
  }
  .blue-circle {
    margin-left: 1250px;
  }
  .green-noodle {
    margin-left: 1320px;
    margin-top: 255px;
  }
  .pink-button {
    margin-top: 370px;
    margin-left: 1130px;
  }
  .blue-cone {
    margin-top: 650px;
    margin-left: 1235px;
  }    
  p {
    font-size: 26px !important;
  }
}

@media (min-width: 2500px) {
  .blue-button {
    margin-left: 1000px;
    margin-top: 200px;
  }
  .blue-noodle {
    margin-top: 90px;
    margin-left: 90px;
  }
  .green-circle {
    margin-top: 850px;
    margin-left: 480px;
  }
  .pink-cone {
    margin-top: 1160px;
    margin-left: 785px;
  }
  .green-button {
    margin-left: 1900px;
    margin-top: 280px;
  }
  .blue-circle {
    margin-left: 2200px;
    margin-top: 100px;
  }
  .green-noodle {
    margin-left: 2370px;
    margin-top: 500px;
  }
  .pink-button {
    margin-top: 700px;
    margin-left: 2020px;
  }
  .blue-cone {
    margin-top: 1170px;
    margin-left: 2200px;
  }     
  p {
    font-size: 60px !important;
  }
}

footer {
  color: #d8e3db !important;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px !important;
}
