* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #e2dfea;
}
  
body {
  background-color: #e2dfea;
  font-family: 'Nunito Sans', sans-serif;
}
  
.header {
  position: relative;
  background-color: #e2dfea;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.header > img {
  pointer-events: none;
  position: absolute;
  object-fit: cover;
}
 
a {
  color: #d8e3db !important;
  text-decoration: none;
}
  
.appear {
  transform:rotateX(10deg);
}

#filler {
  background-color: #74a591;
  z-index: 5;
  position: relative;
  height: 500px;
  display: block;
}

@keyframes popUp {
  from {
    margin-top: 150px;
    opacity: .6;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.hello, .hello2 {
  animation: 1s ease-out 0s 1 popUp;
  transform-origin: bottom; 
}
