/* MOBILE -----------------------------------------------*/

.grid {
  z-index: 1;
  display: none;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #32313a;
  width: 100%;
}

.grid2 {
  z-index: 1;
  height: 125%;
  display: flex;
  left: -11px;
}

.shapes {
  z-index: 2;
  display: none;
  width: 100%;
}

.shapes-left {
  z-index: 2;
  left: 0px;
  float: left;
  width: 82%;
  display: flex;
}

.shapes-right {
  z-index: 2;
  right: 0px;
  float: right;
  width: 82%;
  display: flex;
}

.hello {
  z-index: 3;
  display: none;
  right: 0px;
  float: right;
  width: 100%;
}

.hello2 {
  z-index: 3;
  right: 0px;
  float: right;
  width: 86%;
  display: flex;
}

/* LANDSCAPE --------------------------------------- */
@media only screen 
  and (orientation: landscape) { 
    .grid, .shapes, .hello {
      display: flex;
    }
    .grid2, .shapes-left, .shapes-right, .hello2 {
      display: none;
    }
}

/* Phone 6+, 7+ and 8+ ------------------------------ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .grid {
      width: 104%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) {
    .shapes-left {
      width: 81%;
    }
    .shapes-right {
      width: 81%;
    }
    .hello2 {
      width: 81%;
    }
}

/* GALAXY S6-8 -------------------------------------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .grid {
      width: 106%;
    }
    .shapes {
      width: 130%;
    }
}

/* GALAXY S6-9 PORTRAIT ----------------------------- */
@media screen 
  and (device-width: 360px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .grid2 {
	    transform: translateX(-7px);
    }
    .shapes-left {
      width: 94%;
    }
    .shapes-right {
      width: 94%;
    }
    .hello2 {
      width: 94%;
    }
}

/* GALAXY S10 PORTRAIT ------------------------------ */
@media only screen 
and (min-device-height: 360px) 
and (min-device-width: 760px) 
and (orientation: portrait) 
and (-webkit-device-pixel-ratio: 4){
  .shapes-left {
    width: 97%;
  }
  .shapes-right {
    width: 97%;
  }
  .hello2 {
    width: 92%;
  }
}

/* IPHONE X LANDSCAPE --------------------------------*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .shapes {
      width: 85%;
      display: flex;
    }
    .hello {
      display: flex;
      width: 88%;
    }
}

/* IPHONE X PORTRAIT --------------------------------*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .shapes-left {
      width: 100%;
    }
    .shapes-right {
      width: 100%;
    }
    .hello2 {
      width: 99%;
    }
}

/* TABLET PORTRAIT --------------------------------*/
@media only screen
  and (min-device-width: 481px)
  and (min-device-width: 481px)
  and (orientation: portrait) {
    .grid {
      display: flex;
      height: 100%;
      width: auto;
      transform:translateX(-26px);
    }
    .grid2 {
      display: none;
    }
  }

/* IPAD PORTRAIT ---------------------------------*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .grid {
      display: flex;
      height: 100%;
      width: auto;
      transform:translateX(-26px);
    }
    .grid2 {
      display: none;
    }
    .hello2 {
      width: 62%;
    }
    .shapes-left {
      width: 61%;
    }
    .shapes-right {
      width: 61%;
    }
}

/* SMALL LAPTOP -----------------------------------*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1300px)
  and (orientation: landscape) {
    .hello {
      display: flex;
    }
    .hello2 {
      display: none;
    }
  }

/* LAPTOP ----------------------------------------*/
@media only screen
  and (min-device-width: 1440px) {
    .hello {
      display: flex;
    }
    .hello2 {
      display: none;
    }
}
