img {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
}

.grid {
  z-index: 1;
  width: 100vh;
  display: none;
}

.grid2 {
  z-index: 1;
  height: 125%;
}

.shapes {
  z-index: 2;
  width: 100vh;
  display: none;
}

.shapes2 {
  z-index: 2;
  height: 100vh;
}

.title-frame {
  width: 100%;
  display: flex;
  justify-content: right;
}

.hello {
  z-index: 3;
  width: 100vh;
  display: none;
  right: 0px;
  float: right;
}

.hello2 {
  z-index: 3;
  height: 100vh;
  right: 0px;
  float: right;
}

#filler {
  width: 100vh;
  margin-top: 300%;
  background-color: #74a591;
  z-index: 5;
  position: absolute;
}

/* LANDSCAPE --------------------------------------- */
@media only screen 
  and (orientation: landscape) { 
    .grid {
      display: block;
    }
    
    .grid2 {
      display: none;
    }
    
    .shapes {
      display: block;
    }
    
    .shapes2 {
      display: none;
    }
    
    .hello {
      display: block;
    }
    
    .hello2 {
      display: none;
    }
}
