/* MOBILE -----------------------------------------------*/
img {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
}

.grid {
  z-index: 1;
  width: 100%;
  display: none;
}

.grid2 {
  z-index: 1;
  height: 125%;
}

.shapes {
  z-index: 2;
  width: 100%;
  display: none;
}

.shapes-left {
  z-index: 2;
  height: 100vh;
  left: 0px;
  float: left;
}

.shapes-right {
  z-index: 2;
  height: 100vh;
  right: 0px;
  float: right;
}

.title-frame {
  width: 100%;
  display: flex;
  justify-content: right;
}

.hello {
  z-index: 3;
  width: 100%;
  display: none;
  right: 0px;
  float: right;
}

.hello2 {
  z-index: 3;
  height: 100vh;
  right: 0px;
  float: right;
}

#filler {
  width: 100vh;
  margin-top: 300%;
  background-color: #74a591;
  z-index: 5;
  position: absolute;
}

/* LANDSCAPE --------------------------------------- */
@media only screen 
  and (orientation: landscape) { 
    .grid, .shapes, .hello {
      display: block;
    }
    .grid2, .shapes-left, .shapes-right, .hello2 {
      display: none;
    }
}

/* Phone 6+, 7+ and 8+ ------------------------------ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .grid {
      width: 104%;
    }
}

/* GALAXY S6-9 -------------------------------------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .grid {
      width: 106%;
    }
    .shapes {
      width: 130vh;
    }
}

/* GALAXY S6-9 PORTRAIT ----------------------------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .grid2 {
	    transform: translateX(-7px);
    }
}



/* IPHONE X LANDSCAPE --------------------------------*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .shapes {
      width: 186vh;
      display: block;
    }
    .hello {
      display: block;
    }
}

/* TABLET PORTRAIT --------------------------------*/
@media only screen
  and (min-device-width: 481px)
  and (min-device-width: 481px)
  and (orientation: portrait) {
    .grid {
      display: block;
      height: 100vh;
      width: auto;
      transform:translateX(-26px);
    }
    .grid2 {
      display: none;
    }
  }

/* SMALL LAPTOP -----------------------------------*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1300px) {
    .hello {
      display: block;
    }
    .hello2 {
      display: none;
    }
  }

/* LAPTOP ----------------------------------------*/
@media only screen
  and (min-device-width: 1440px) {
    .hello {
      display: block;
      margin-top: 2.3%;
    }
    .hello2 {
      display: none;
    }
}
